<ion-view title="Contacts" hide-back-button="true">
  <ion-content class="has-header">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Search" ng-model="search">
      </label>
    </div>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
    </ion-refresher>

    <ion-list>
      <ion-item class="item-divider" ng-repeat-start="(letter, contacts) in groupedContacts">
        {{letter}}
      </ion-item>

      <ion-item href="#/app/profile/{{contact.id}}" ng-repeat="contact in contacts | filter:search">
        {{contact.firstName}} <strong>{{contact.lastName}}</strong>
        <small>{{contact.email}}</small>
        <ion-option-button class="button-info" ng-click="deleteContact(contact)" style="padding-top: 15px;">
          <i class="icon ion-trash-b"></i>
        </ion-option-button>
      </ion-item>

      <div ng-repeat-end></div>

    </ion-list>
  </ion-content>
  <a class="floating-btn" href="#/app/contact/">
    <i class="icon ion-person-add"></i>
  </a>
</ion-view>
