<ion-view title="Login" hide-nav-bar="true">
  <ion-content class="login">
    <div class="padding">
      <h2>Contact List</h2>
      <p>Aerogears Demo App</p>

      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Enter your username" ng-model="user.name" autocorrect="off" autocapitalize="off">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Enter your password" ng-model="user.password">
        </label>
      </div>

      <button class="button button-fullsize button-balanced" ng-click="login(user)">
        LOGIN
      </button>
    </div>
  </ion-content>
</ion-view>
